<div [ngClass]="layerClassList()" aria-hidden="true">
  <div class="sky-ambience__clouds">
    <span class="sky-ambience__puff sky-ambience__puff--a"></span>
    <span class="sky-ambience__puff sky-ambience__puff--b"></span>
    <span class="sky-ambience__puff sky-ambience__puff--c"></span>
    <span class="sky-ambience__puff sky-ambience__puff--d"></span>
    <span class="sky-ambience__puff sky-ambience__puff--e"></span>
    <span class="sky-ambience__puff sky-ambience__puff--f"></span>
  </div>
  @if (showRainHeavy()) {
    <div class="sky-ambience__rain sky-ambience__rain--heavy"></div>
  } @else if (showRainLight()) {
    <div class="sky-ambience__rain sky-ambience__rain--light"></div>
  }
</div>
