.current-weather__icon {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  .current-weather__icon {
    width: 6rem;
    height: 6rem;
  }
}

.current-weather__sk-icon {
  width: 5.5rem;
  height: 5.5rem;
}

.current-weather__skeleton .placeholder {
  min-height: 0.85rem;
}

@media (min-width: 768px) {
  .current-weather__sk-icon {
    width: 6rem;
    height: 6rem;
  }
}
